/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    color: #252C26;
    font: 14px/1.5em 'Lato', sans-serif;
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 16px;
        line-height: 1.5em;
    }
}

h1 {
    font: 30px/1.2em 'Prata', serif;
    margin: 0 0 20px 0;
}

h2 {
    font: 20px/1.2em 'Prata', serif;
    margin: 0 0 20px 0;
}

h3 {
    font-size: 18px;
    line-height: 1.2em;
    margin: 0 0 20px 0;
}

h4 {
    font-size: 16px;
    line-height: 1.2em;
    margin: 0 0 20px 0;
}

h5 {
    font-size: 14px;
    line-height: 1.2em;
    margin: 0 0 20px 0;
}

.headline-1 {
    font-size: 30px;
    line-height: 1.2em;
}

.headline-2 {
    font-size: 20px;
    line-height: 1.2em;
}

.headline-3 {
    font-size: 18px;
    line-height: 1.2em;
}

.headline-4 {
    font-size: 16px;
    line-height: 1.2em;
}

.headline-5 {
    font-size: 14px;
    line-height: 1.2em;
}

.caption {
    font-size: 14px;
    line-height: 1.5em;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 40px;
        line-height: 1.2em;
    }

    h2 {
        font-size: 30px;
        line-height: 1.2em;
    }

    h3 {
        font-size: 20px;
        line-height: 1.2em;
    }

    h4 {
        font-size: 18px;
        line-height: 1.2em;
    }

    h5 {
        font-size: 16px;
        line-height: 1.2em;
    }

    .headline-1 {
        font-size: 40px;
        line-height: 1.2em;
    }

    .headline-2 {
        font-size: 30px;
        line-height: 1.2em;
    }

    .headline-3 {
        font-size: 20px;
        line-height: 1.2em;
    }

    .headline-4 {
        font-size: 18px;
        line-height: 1.2em;
    }

    .headline-5 {
        font-size: 16px;
        line-height: 1.2em;
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 90px;
        line-height: 1em;
    }

    h2 {
        font-size: 60px;
        line-height: 1.2em;
    }

    h3 {
        font-size: 40px;
        line-height: 1.2em;
    }

    h4 {
        font-size: 30px;
        line-height: 1.2em;
    }

    h5 {
        font-size: 20px;
        line-height: 1.2em;
    }

    .headline-1 {
        font-size: 90px;
        line-height: 1em;
    }

    .headline-2 {
        font-size: 60px;
        line-height: 1.2em;
    }

    .headline-3 {
        font-size: 40px;
        line-height: 1.2em;
    }

    .headline-4 {
        font-size: 30px;
        line-height: 1.2em;
    }

    .headline-5 {
        font-size: 20px;
        line-height: 1.2em;
    }
}

img {
    height: auto !important;
    max-width: 100%;
}

p {
    margin: 0 0 20px 0;
}

a {
    color: inherit;
}

.clear {
    clear: both;
}

.font-family-2 {
    font-family: 'Prata', serif;
}

.color-2 {
    color: #878A8C;
}

.button {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    border: 2px solid;
    display: inline-block;
    font-size: 18px;
    line-height: 1em;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 250ms, border-color 250ms;
}

.button:hover {
    animation-name: rubber;
    background: #54CBCB;
    border-color: #54CBCB;
}

@keyframes rubber {
    from {
        transform: scale3d(1, 1, 1);
    }
    
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    
    to {
        transform: scale3d(1, 1, 1);
    }
}

.button.disabled {
    opacity: 0.5;
}

/* Layout */
.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 20px;
}

.row,
.row-10,
.row-30 {
    display: flex;
    flex-wrap: wrap;
}

.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row-30 {
    margin-left: -30px;
    margin-right: -30px;
}

.row.center,
.row-10.center,
.row-30.center {
    align-items: center;
}

.row.flex-end,
.row-10.flex-end,
.row-30.flex-end {
    align-items: flex-end;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    box-sizing: border-box;
}

.col-1 {
    width: 8.3333333333%;
}

.col-2 {
    width: 16.6666666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.6666666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333333333%;
}

.col-8 {
    width: 66.6666666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333333333%;
}

.col-11 {
    width: 91.6666666666%;
}

.col-12 {
    width: 100%;
}

.order-1 {
    order: 0;
}

.order-2 {
    order: 1;
}

.order-3 {
    order: 2;
}

.order-4 {
    order: 3;
}

.order-5 {
    order: 4;
}

.order-6 {
    order: 5;
}

.order-7 {
    order: 6;
}

.order-8 {
    order: 7;
}

.order-9 {
    order: 8;
}

.order-10 {
    order: 9;
}

.order-11 {
    order: 10;
}

.order-12 {
    order: 11;
}

.push-0 {
    margin-left: 0;
}

.push-1 {
    margin-left: 8.3333333333%;
}

.push-2 {
    margin-left: 16.6666666666%;
}

.push-3 {
    margin-left: 25%;
}

.push-4 {
    margin-left: 33.3333333333%;
}

.push-5 {
    margin-left: 41.6666666666%;
}

.push-6 {
    margin-left: 50%;
}

.push-7 {
    margin-left: 58.3333333333%;
}

.push-8 {
    margin-left: 66.6666666666%;
}

.push-9 {
    margin-left: 75%;
}

.push-10 {
    margin-left: 83.3333333333%;
}

.push-11 {
    margin-left: 91.6666666666%;
}

.gutter-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.gutter-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.margin-10 {
    margin: 0 0 10px 0;
    min-height: 1px;
}

.margin-30 {
    margin: 0 0 30px 0;
    min-height: 1px;
}

.margin-60 {
    margin: 0 0 60px 0;
    min-height: 1px;
}

.margin-90 {
    margin: 0 0 90px 0;
    min-height: 1px;
}

.margin-120 {
    margin: 0 0 120px 0;
    min-height: 1px;
}

@media screen and (min-width: 768px) {
    .row-10-768 {
        margin-left: -10px;
        margin-right: -10px;
    }
    
    .row-30-768 {
        margin-left: -30px;
        margin-right: -30px;
    }
    
    .col-1-768 {
        width: 8.3333333333%;
    }

    .col-2-768 {
        width: 16.6666666666%;
    }

    .col-3-768 {
        width: 25%;
    }

    .col-4-768 {
        width: 33.3333333333%;
    }

    .col-5-768 {
        width: 41.6666666666%;
    }

    .col-6-768 {
        width: 50%;
    }

    .col-7-768 {
        width: 58.3333333333%;
    }

    .col-8-768 {
        width: 66.6666666666%;
    }

    .col-9-768 {
        width: 75%;
    }

    .col-10-768 {
        width: 83.3333333333%;
    }

    .col-11-768 {
        width: 91.6666666666%;
    }

    .col-12-768 {
        width: 100%;
    }

    .order-1-768 {
        order: 0;
    }

    .order-2-768 {
        order: 1;
    }

    .order-3-768 {
        order: 2;
    }

    .order-4-768 {
        order: 3;
    }

    .order-5-768 {
        order: 4;
    }

    .order-6-768 {
        order: 5;
    }

    .order-7-768 {
        order: 6;
    }

    .order-8-768 {
        order: 7;
    }

    .order-9-768 {
        order: 8;
    }

    .order-10-768 {
        order: 9;
    }

    .order-11-768 {
        order: 10;
    }

    .order-12-768 {
        order: 11;
    }

    .push-0-768 {
        margin-left: 0;
    }

    .push-1-768 {
        margin-left: 8.3333333333%;
    }

    .push-2-768 {
        margin-left: 16.6666666666%;
    }

    .push-3-768 {
        margin-left: 25%;
    }

    .push-4-768 {
        margin-left: 33.3333333333%;
    }

    .push-5-768 {
        margin-left: 41.6666666666%;
    }

    .push-6-768 {
        margin-left: 50%;
    }

    .push-7-768 {
        margin-left: 58.3333333333%;
    }

    .push-8-768 {
        margin-left: 66.6666666666%;
    }

    .push-9-768 {
        margin-left: 75%;
    }

    .push-10-768 {
        margin-left: 83.3333333333%;
    }

    .push-11-768 {
        margin-left: 91.6666666666%;
    }
    
    .gutter-10-768 {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .gutter-30-768 {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .margin-10-768 {
        margin: 0 0 10px 0;
        min-height: 1px;
    }
    
    .margin-30-768 {
        margin: 0 0 30px 0;
        min-height: 1px;
    }
    
    .margin-60-768 {
        margin: 0 0 60px 0;
        min-height: 1px;
    }
    
    .margin-90-768 {
        margin: 0 0 90px 0;
        min-height: 1px;
    }

    .margin-120-768 {
        margin: 0 0 120px 0;
        min-height: 1px;
    }
}

@media screen and (min-width: 1024px) {
    .row-10-1024 {
        margin-left: -10px;
        margin-right: -10px;
    }
    
    .row-30-1024 {
        margin-left: -30px;
        margin-right: -30px;
    }
    
    .col-1-1024 {
        width: 8.3333333333%;
    }

    .col-2-1024 {
        width: 16.6666666666%;
    }

    .col-3-1024 {
        width: 25%;
    }

    .col-4-1024 {
        width: 33.3333333333%;
    }

    .col-5-1024 {
        width: 41.6666666666%;
    }

    .col-6-1024 {
        width: 50%;
    }

    .col-7-1024 {
        width: 58.3333333333%;
    }

    .col-8-1024 {
        width: 66.6666666666%;
    }

    .col-9-1024 {
        width: 75%;
    }

    .col-10-1024 {
        width: 83.3333333333%;
    }

    .col-11-1024 {
        width: 91.6666666666%;
    }

    .col-12-1024 {
        width: 100%;
    }

    .order-1-1024 {
        order: 0;
    }

    .order-2-1024 {
        order: 1;
    }

    .order-3-1024 {
        order: 2;
    }

    .order-4-1024 {
        order: 3;
    }

    .order-5-1024 {
        order: 4;
    }

    .order-6-1024 {
        order: 5;
    }

    .order-7-1024 {
        order: 6;
    }

    .order-8-1024 {
        order: 7;
    }

    .order-9-1024 {
        order: 8;
    }

    .order-10-1024 {
        order: 9;
    }

    .order-11-1024 {
        order: 10;
    }

    .order-12-1024 {
        order: 11;
    }

    .push-0-1024 {
        margin-left: 0;
    }

    .push-1-1024 {
        margin-left: 8.3333333333%;
    }

    .push-2-1024 {
        margin-left: 16.6666666666%;
    }

    .push-3-1024 {
        margin-left: 25%;
    }

    .push-4-1024 {
        margin-left: 33.3333333333%;
    }

    .push-5-1024 {
        margin-left: 41.6666666666%;
    }

    .push-6-1024 {
        margin-left: 50%;
    }

    .push-7-1024 {
        margin-left: 58.3333333333%;
    }

    .push-8-1024 {
        margin-left: 66.6666666666%;
    }

    .push-9-1024 {
        margin-left: 75%;
    }

    .push-10-1024 {
        margin-left: 83.3333333333%;
    }

    .push-11-1024 {
        margin-left: 91.6666666666%;
    }
    
    .gutter-10-1024 {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .gutter-30-1024 {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .margin-10-1024 {
        margin: 0 0 10px 0;
        min-height: 1px;
    }
    
    .margin-30-1024 {
        margin: 0 0 30px 0;
        min-height: 1px;
    }
    
    .margin-60-1024 {
        margin: 0 0 60px 0;
        min-height: 1px;
    }
    
    .margin-90-1024 {
        margin: 0 0 90px 0;
        min-height: 1px;
    }

    .margin-120-1024 {
        margin: 0 0 120px 0;
        min-height: 1px;
    }
}

/* Table */
.table {
    display: table;
    height: 100%;
    table-layout: fixed;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.table-cell.top {
    vertical-align: top;
}

.table-cell.middle {
    vertical-align: middle;
}

.table-cell.bottom {
    vertical-align: bottom;
}

/* Form */
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.3;
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 0.3;
}

::placeholder {
    color: inherit;
    opacity: 0.3;
}

input {
    border-radius: 0;
    color: inherit;
}

/* Top app bar */
.top-app-bar__holder {
    height: 60px;
}

@media screen and (min-width: 1024px) {
    .top-app-bar__holder {
        height: 100px;
    }
}

.top-app-bar {
    background: #FFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    transition: background-color 250ms;
    width: 100%;
    z-index: 101;
}

@media screen and (min-width: 768px) {
    .top-app-bar {
        height: 100px
    }
}

@media screen and (min-width: 1024px) {
    .top-app-bar {
        background: rgba(255, 255, 255, 0.75);
    }
    
    .top-app-bar.active {
        background: #FFF;
    }
}

/* Logo */
.logo {
    float: left;
    margin: 12px 0 0 0;
}

@media screen and (min-width: 768px) {
    .logo__icon--phone {
        display: none;
    }
}

.logo__icon--desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .logo__icon--desktop {
        display: block;
    }
}

/* Menu button */
.menu-button {
    float: right;
    height: 24px;
    margin: 18px 0 0 0;
    position: relative;
    width: 24px;
}

@media screen and (min-width: 768px) {
    .menu-button {
        margin: 38px 10px 0 0;
    }
}

@media screen and (min-width: 1024px) {
    .menu-button {
        display: none;
    }
}

.menu-button span {
    background: #252C26;
    display: block;
    height: 2px;
    left: 0;
    margin: -1px 0 0 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

.menu-button.active span {
    background: none;
}

.menu-button span:before {
    background: #252C26;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: -6px;
    transition: top 250ms, transform 250ms;
    width: 100%;
}

.menu-button.active span:before {
    top: 0;
    transform: rotate(-45deg);
}

.menu-button span:after {
    background: #252C26;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: 6px;
    transition: top 250ms, transform 250ms;
    width: 100%;
}

.menu-button.active span:after {
    top: 0;
    transform: rotate(45deg);
}

/* Nav */
.nav {
    display: none;
    float: right;
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    margin: 41px 20px 0 0;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .nav {
        display: block;
    }
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    float: left;
    margin: 0 30px 0 0;
}

.nav li:last-child {
    margin: 0;
}

.nav a {
    position: relative;
    text-decoration: none;
}

.nav a:hover:after,
.nav a.active:after {
    background: #61B830;
    content: "";
    height: 5px;
    left: 50%;
    margin: 0 0 0 -15px;
    position: absolute;
    top: -20px;
    width: 32px;
}

/* Drawer */
.drawer {
    background: #FFF;
    box-sizing: border-box;
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    padding: 80px 20px 60px 20px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}

@media screen and (min-width: 768px) {
    .drawer {
        padding: 120px 20px 100px 20px;
    }
}

@media screen and (min-width: 1024px) {
    .drawer {
        display: none !important;
    }
}

/* Nav 2 */
.nav-2 {
    font-weight: bold;
}

.nav-2 ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}

.nav-2 li {
    margin: 0 0 10px 0;
}

.nav-2 li:last-child {
    margin: 0;
}

.nav-2 a {
    text-decoration: none;
}

.nav-2 a.active {
    color: #3DAA01;
}

/* Footer */
.footer {
    background: #565A5C;
    color: #FFF;
    padding: 30px 0 10px 0;
}

/* Heading */
.heading {
    padding: 20px 0 0 0;
    position: relative;
}

.heading:after {
    background: #61B830;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
}

/* Form */
.form {
    margin: 0 0 10px 0;
}

/* Text field */
.text-field__input {
    background: none;
    border-color: #FFF;
    border-style: solid;
    border-width: 0 0 1px 0;
    display: block;
    font-style: italic;
    margin: 0 0 20px 0;
    padding: 0 5px 10px 5px;
    transition: border-color 250ms;
    width: 100%;
}

.text-field__input:focus {
    border-color: #0BB5B5;
    outline: none;
}

/* Button 2*/
.button-2 {
    background: url(../img/arrow-right.svg) no-repeat 100% 50%;
    border: none;
    margin: 0 0 20px 0;
    padding: 0 30px 0 0;
    text-transform: uppercase;
}

/* Divider */
.divider {
    border-bottom: 1px solid;
    margin: 0 0 30px 0;
    opacity: 0.1;
}

@media screen and (min-width: 1024px) {
    .divider {
        display: none;
    }
}

/* Nav 3 */
.nav-3 {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}

@media screen and (min-width: 1024px) {
    .nav-3 {
        text-align: right;
    }
}

.nav-3 li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.nav-3 li:last-child {
    margin: 0;
}

.nav-3 a {
    text-decoration: none;
}

.nav-3 a:hover {
    text-decoration: underline;
}

/* Footer logo */
.footer-logo {
    text-align: right;
}

/* Footer 2 */
.footer-2 {
    padding: 30px 0 10px 0;
}

/* Hero */
.hero {
    height: 480px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .hero {
        height: 560px;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        height: 640px;
    }
}

.hero__media {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.hero__media img {
    height: 100% !important;
    object-fit: cover;
    width: 100%;
}

.hero__content {
    box-sizing: border-box;
    height: 100%;
    padding: 30px 0 20px 0;
    position: absolute;
    z-index: 2;
}

@media screen and (min-width: 1024px) {
    .hero__content {
        padding: 60px 0 40px 0;
    }
}

.hero__secondary-text {
    display: none;
}

@media screen and (min-width: 768px) {
    .hero__secondary-text {
        display: block;
    }
}

/* io */
.io {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 750ms, transform 750ms;
}

.io.active {
    opacity: 1;
    transform: translateX(0);
}

/* io 2 */
.io-2 {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 750ms, transform 750ms;
}

.io-2.active {
    opacity: 1;
    transform: translateY(0);
}

/* Block */
.block {
    padding: 60px 0 30px 0;
}

@media screen and (min-width: 768px) {
    .block {
        padding: 90px 0 60px 0;
    }
}

@media screen and (min-width: 1024px) {
    .block {
        padding: 120px 0 90px 0;
    }
}

/* Card */
.card {
    display: block;
    margin: 0 0 60px 0;
    position: relative;
    text-decoration: none;
}

.card--0 {
    padding: 0 0 0 60px;
}

.card--1 {
    padding: 0 60px;
}

.card--2 {
    padding: 0 0 0 60px;
}

.card__content {
    background: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    padding: 20px 35px 10px 10px;
    position: absolute;
    width: 220px;
    z-index: 2;
}

.card--0 .card__content {
    bottom: 30px;
    left: 0;
}

.card--1 .card__content {
    bottom: 30px;
    right: 0;
}

.card--2 .card__content {
    left: 0;
    top: 30px;
}

.card__content:before {
    background: #61B830;
    content: "";
    height: 5px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 30px;
}

.card__content:after {
    background: url(../img/arrow-right.svg) no-repeat;
    bottom: 10px;
    content: "";
    height: 18px;
    right: 10px;
    position: absolute;
    width: 15px;
}

/* Block 2 */
.block-2 {
    padding: 60px 0 0 0;
    position: relative;
}

.block-2__media {
    height: 180px;
    margin: 0 0 -120px 0;
}

@media screen and (min-width: 768px) {
    .block-2__media {
        height: 320px;
        margin: 0 0 -200px 0;
    }
}

.block-2__media img {
    height: 100% !important;
    object-fit: cover;
    width: 100%;
}

.block-2__content-wrapper {
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.block-2__content {
    background: #FFF;
    padding: 30px 20px 10px 0;
    position: relative;
}

.block-2__content:after {
    background: #FFF;
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 50vw;
}

/* Card 2 */
.card-2__content {
    margin: 0 0 60px 0;
}

.card-2__title {
    display: block;
    text-decoration: none;
    transition: color 250ms, transform 250ms;
}

.card-2__title:hover {
    color: #0BB5B5;
    transform: translateY(-5px);
}

.card-2__action {
    display: block;
    margin: 0 0 60px 0;
    position: relative;
    text-decoration: none;
}

.card-2__action:after {
    background: url(../img/arrow-right.svg) no-repeat;
    content: "";
    height: 18px;
    right: 10px;
    position: absolute;
    top: 0;
    transition: transform 250ms;
    width: 15px;
}

.card-2__action:hover:after {
    transform: translateX(10px);
}

/* Chip */
.chip-set {
    margin: 0 0 60px 0;
    text-align: right;
}

.chip {
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 1px 1px 0 0;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    transition: border-color 250ms, color 250ms;
}

.chip:hover {
    border-color: #0BB5B5;
    color: #0BB5B5;
}

/* Select field */
.select-field__input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../img/arrow-down-2.svg) no-repeat 100% 50%;
    border-color: #AAACAD;
    border-style: solid;
    color: #565A5C;
    border-width: 0 0 1px 0;
    display: block;
    font-size: 18px;
    line-height: 1em;
    margin: 0 0 60px 0;
    padding: 10px 29px 10px 5px;
    text-transform: uppercase;
    transition: border-color 250ms;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .select-field__input {
        display: none;
    }
}

.select-field__input:focus {
    border-color: #0BB5B5;
    outline: none;
}

/* Tabs */
.tab-bar {
    border-bottom: 1px solid #AAACAD;
    display: none;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 0 60px 0;
    padding: 0;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .tab-bar {
       display: flex;
    }
}

.tab-bar a {
    display: block;
    padding: 20px;
    position: relative;
    text-decoration: none;
}

.tab-bar a:hover:after,
.tab-bar a.active:after {
    background: #61B830;
    content: "";
    height: 5px;
    left: 50%;
    margin: 0 0 0 -15px;
    position: absolute;
    top: 0;
    width: 32px;
}

/* Card 3 */
.card-3 {
    display: block;
    margin: 0 0 30px 0;
    padding: 0 0 60px 90px;
    position: relative;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .card-3 {
        margin: 0 0 60px 0;
    }
}

.card-3__media {
    filter: grayscale(100%);
    transition: filter 250ms;
}

.card-3:hover .card-3__media {
    filter: grayscale(0);
}

.card-3__content {
    background: rgba(255, 255, 255, 0.85);
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    padding: 20px 35px 10px 10px;
    position: absolute;
    width: 220px;
    z-index: 2;
}

.card-3__content:before {
    background: #61B830;
    content: "";
    height: 5px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 30px;
}

.card-3__content:after {
    background: url(../img/arrow-right.svg) no-repeat;
    bottom: 10px;
    content: "";
    height: 18px;
    right: 10px;
    position: absolute;
    width: 15px;
}

/* Social */
.social {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
}

.social li {
    float: left;
    margin: 0 30px 0 0;
}

.social li:last-child {
    margin: 0;
}

/* Block 3 */
.block-3 {
    border-left: 5px solid #61B830;
    padding: 0 0 0 30px;
}

@media screen and (min-width: 768px) {
    .block-3 {
        padding: 0 0 0 90px;
    }
}

/* Blockquote */
blockquote {
    background: #F0F0F0;
    border-color: #FFF;
    border-style: solid;
    border-width: 30px 0 30px 0;
    margin: 0 0 0 -35px;
    padding: 30px 30px 10px 30px;
}

@media screen and (min-width: 768px) {
    blockquote {
        border-width: 60px 0 60px 0;
        font-size: 18px;
        line-height: 1.2em;
    }
}

@media screen and (min-width: 1280px) {
    blockquote {
        font-size: 30px;
        line-height: 1.2em;
        margin: 0 0 0 -270px;
        padding: 30px 30px 10px 90px;
    }
}

/* Block 4 */
.block-4 {
    background: #F0F0F0;
    padding: 60px 0 30px 0;
}

@media screen and (min-width: 1280px) {
    .block-4 {
        margin: 60px 0 0 0;  
    }
    
    .block-4__title {
        margin: -120px 0 60px 0;
        position: relative;
    }
}

/* Carousel */
.carousel {
    position: relative;
}

.owl-carousel.carousel .owl-nav button.owl-next,
.owl-carousel.carousel .owl-nav button.owl-prev {
    background-color: #0BB5B5;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.owl-carousel.carousel .owl-nav button.owl-next {
    background-image: url(../img/arrow-right-3.svg);
}

.owl-carousel.carousel .owl-nav button.owl-prev {
    background-image: url(../img/arrow-left-3.svg);
}

.carousel .owl-next,
.carousel .owl-prev {
    height: 44px;
    margin: -22px 0 0 0;
    position: absolute;
    top: 50%;
    width: 44px;
}

.carousel .owl-next {
    right: -20px;
}

@media screen and (min-width: 1440px) {
    .carousel .owl-next {
        right: -44px;
    }
}

.carousel .owl-prev {
    left: -20px;
}

@media screen and (min-width: 1440px) {
    .carousel .owl-prev {
        left: -44px;
    }
}

.carousel .owl-next span,
.carousel .owl-prev span {
    display: none;
}

.carousel .owl-dots {
    text-align: center;
}

.owl-carousel.carousel button.owl-dot {
    background: #565A5C;
}

.owl-carousel.carousel button.owl-dot.active {
    background: #0BB5B5;
}

.carousel .owl-dot {
    border-radius: 50%;
    height: 12px;
    margin: 4px;
    width: 12px;
}

/* Card 4 */
.card-4 {
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    display: block;
    filter: grayscale(100%);
    margin: 0 0 30px 0;
    padding: 100% 0 0 0;
    position: relative;
}

.card-4 img {
    box-sizing: border-box;
    height: 100% !important;
    object-fit: contain;
    left: 0;
    padding: 30px;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Card 5 */
.card-5 {
    display: block;
    margin: 0 0 30px 0;
    text-decoration: none;
}

.card-5__title {
    text-transform: uppercase;
}

.card-5__action {
    border: 2px solid;
    display: inline-block;
    font-size: 18px;
    line-height: 1em;
    padding: 15px 30px;
    text-transform: uppercase;
    transition: background-color 250ms, border-color 250ms;
}

.card-5:hover .card-5__action {
    background: #54CBCB;
    border-color: #54CBCB;
}

/* Card 6 */
.card-6 {
    margin: 0 0 60px 0;
    text-align: center;
}

.card-6__subtitle {
    font-weight: bold;
}

/* Card 7 */
.card-7 {
    display: block;
    margin: 0 0 60px 0;
    position: relative;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .card-7 {
        margin: 0 0 120px 0;
    }
    
    .card-7--0 {
        padding: 0 420px 0 0;
    }
    
    .card-7--1 {
        padding: 0 0 0 420px;
    }
}

.card-7__content {
    background: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    padding: 30px 45px 20px 20px;
    position: relative;
    z-index: 2;
}

@media screen and (min-width: 768px) {
    .card-7__content {
        bottom: 30px;
        position: absolute;
        width: 480px;
    }
    
    .card-7--0 .card-7__content {
        right: 0;
    }

    .card-7--1 .card-7__content {
        left: 0;
    }
}

.card-7__content:before {
    background: #61B830;
    content: "";
    height: 5px;
    left: 20px;
    position: absolute;
    top: 0;
    width: 30px;
}

.card-7__content:after {
    background: url(../img/arrow-right.svg) no-repeat;
    bottom: 10px;
    content: "";
    height: 18px;
    right: 10px;
    position: absolute;
    width: 15px;
}

/* Pagination */
.pagination {
    margin: 0 0 60px 0;
    text-align: center;
}

/* Block 5 */
.block-5 {
    border: 5px solid #61B830;
    margin: 0 0 60px 0;
    padding: 30px 30px 10px 30px;
    position: relative;
}

@media screen and (min-width: 1440px) {
    .block-5 {
        margin: 30px 0 60px 90px;
    }
    
    .block-5__title {
        margin: -65px 0 0 -125px;
        position: relative;
    }

    .block-5__title h2 {
        background: #FFF;
        display: inline-block;
        padding: 0 20px 20px 0;
    }
}

/* Richtext */
.richtext ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}

.richtext li {
    margin: 0 0 20px 0;
    padding: 0 0 0 30px;
    position: relative;
}

.richtext li:before {
    background: #61B830;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0.6em;
    width: 15px;
}

/* Card 8 */
.card-8 {
    margin: 0 0 30px 0;
    padding: 0 0 60px 90px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .card-8 {
        margin: 0 0 60px 0;
    }
}

.card-8__content {
    background: rgba(255, 255, 255, 0.85);
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    padding: 20px 10px 10px 10px;
    position: absolute;
    width: 220px;
    z-index: 2;
}

.card-8__content:before {
    background: #61B830;
    content: "";
    height: 5px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 30px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

